<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<script>
  function getHomePage() {
    if (localStorage.getItem('status') === null) {
      window.location.replace("http://localhost:8080/");
    } return
    window.location.replace("http://localhost:8080/auth/login");
  } function
    submit() {
      const username = document.getElementById('username').value; const
        password = document.getElementById('pass').value;
    localStorage.setItem('status', 'success'); db.registerUser(username,
      password); window.location.replace("http://localhost:8080/home");
  } function
    showAlerts(msg) { alert(msg); }
</script>

<body>
  
</body>

</html>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Signup Form</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <img
            style="margin-left: 10%; width: 40%; height: auto; border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
            src="https://cdn.hackernoon.com/hn-images/1*mLE5ZxhtATxrwh20SL2Tlg.png" />
          <div class="img" style="background-image: url(views/images/bg.png);">
          </div>
          <div style="width: 40%;" class="login-wrap p-4">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign Up</h3>
              </div>
              <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                      class="fa fa-facebook"></span></a>
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                      class="fa fa-twitter"></span></a>
                </p>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="label" for="name">Username</label>
              <input name="username" type="text" class="form-control" placeholder="Username" required />
            </div>
            <div class="form-group mb-3">
              <label class="label" for="password">Password</label>
              <input name="pass" type="password" class="form-control" placeholder="Password" required />
            </div>
            <div class="form-group">
              <button onclick="submit()" type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                In</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-100 text-left">
                <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                  <input style="margin-left: 10px;" type="checkbox" checked />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>